GOOGLE_PRIVATE_API_KEY=
GOOGLE_PUBLIC_API_KEY=101142585740-rttal06iksnqrajj8oadcioni4lsjchf.apps.googleusercontent.com
DATABASE_URL=postgresql://admin:admin123@localhost:5432/mydatabase?schema=public
JWT_SECRET=opansfiausphdhaisiasdao
JWT_EXPIRATES_IN=604800  # 7 dias
FRONTEND_URL=http://localhost:5173
PORT=8000
